<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.dao.user.UserMapper">
	<resultMap type="com.report.model.user.User" id="BaseUserResultMap">
		<result column="id" property="id" />
		<result column="user_login" property="userLogin" />
		<result column="user_pass" property="userPass" />
		<result column="display_name" property="displayName" />
		<result column="user_status" property="userStatus" />
		<result column="count" property="count" />
		<result column="fine_count" property="fineCount" />
		<result column="psd_count" property="psdCount" />
		<result column="jpg_count" property="jpgCount" />

		<!--<collection property="roleList" column="user_id" javaType="ArrayList"-->
					<!--ofType="com.report.model.user.Role" select="selectRoleByUserId" />-->
	</resultMap>

	<select id="queryUserList" resultMap="BaseUserResultMap">
SELECT a.id,a.user_login,a.user_nicename,a.user_email,a.user_url,a.user_registered,a.user_status,a.display_name from wp_users a
	</select>

	<!-- 根据用户名查询一个用户的信息 -->
	<select id="queryUserByUsername" resultMap="BaseUserResultMap">
		SELECT * from wp_users a where a.user_login = #{username} and a.user_status = 0
	</select>

</mapper> 